{% block content %}
    <h3>Friend Requests</h3>
    <div class="friend-requests">
        {% for friendRequest in friendRequests %}
                <div class="friend-request" id="{{ friendRequest.nickname }}-friend-request">
                    <form class="inline" action="/dashboard/friendrequest/accept" method="post">
                        <button name="from-user-id" class="btn btn-outline-success accept-friend-request-btn response-buttons" type="submit" value={{ friendRequest.fromUserId }}>
                            <i class="accept-friend-request-icon fas fa-check"></i>
                        </button>
                    </form>
                    <form class="inline" action="/dashboard/friendrequest/decline" method="post">
                        <button name="from-user-id" class="btn btn-outline-danger decline-friend-request-btn response-buttons" type="submit" value={{ friendRequest.fromUserId }}>
                            <i class="decline-friend-request-icon fas fa-times"></i>
                        </button>
                    </form>
                    <a class="friend-request-nickname" href="/user/{{ friendRequest.nickname }}">{{ friendRequest.nickname }}</a>
                </div>
        {% endfor %}
    </div>
{% endblock %}