{% block content %}
    <form action="" method="POST">
        <div id="crypto-data" style="max-height: 50%; overflow: auto;">

        </div>
    </form>

    <hr>

    <div class="portfolio-content">
        <h1 style="text-align: center">Portfolio</h1>
        <h4>{{ portfolio.title }} --- {{ portfolioId }}</h4>

        <h4>USD Amount: {{ portfolio.USDAmount }}</h4>

        <h4>Crypto Worth In USD: {{ portfolio.cryptoWorthInUSD }}</h4>

        <h4>Portfolio Worth: {{ portfolio.portfolioWorth }}</h4>
    </div>

    <hr>

    <script src="/autobahn-js.js" type="text/javascript"></script>
    <script src="/websocket-conn.js" type="text/javascript"></script>
{% endblock %}