{% block content %}
        <div id="crypto-data" style="max-height: 50%; overflow: auto;">
            <div class="buy-wrapper">
            {% for cryptocurrency in cryptocurrencies %}
                {#<form action="" method="POST">#}
                    <div data-abbreviation="{{ cryptocurrency.abbreviation }}-buy" style="padding-bottom: 5px">
                        <span class="crypto-abbr">{{ cryptocurrency.abbreviation }}</span> - <span class="worth-in-usd">{{ cryptocurrency.worthInUSD }}</span>
                        {#<input type="text" name="transaction-amount">#}
                        <button type="submit" class="btn btn-info" id="buy-crypto" data-toggle="popover" title="Buy" name="crypto-worth"
                                value="{{ cryptocurrency.worthInUSD }}" data-abbr="{{ cryptocurrency.abbreviation }}">Buy</button>
                        <input type="hidden" value="{{ cryptocurrency.id }}" name="cryptocurrency-id">
                        <input type="hidden" name="type" value="buy">
                    </div>
                {#</form>#}
            {% endfor %}
            </div>
        </div>

    <hr>

    <div class="portfolio-content" style="max-height: 50%; overflow: auto;">
        <h1 style="text-align: center">Portfolio</h1>
        <h4><span class="portfolio-title">{{ portfolio.title }}</span> --- <span class="portfolio-id">{{ portfolioId }}</span></h4>

        <h4>USD Amount: <span class="usd-amount">{{ portfolio.USDAmount }}</span></h4>

        <h4>Crypto Worth In USD: <span class="crypto-worth-in-usd">{{ portfolio.cryptoWorthInUSD }}</span></h4>

        <h4>Portfolio Worth: <span class="portfolio-worth">{{ portfolio.portfolioWorth }}</span></h4>

        <hr>

        <div class="sell-wrapper">
            {% include 'responses/PortfolioCrypto.html.twig' %}
        </div>

    </div>

    <hr>

    <div class="popover-wrapper">
        {# Stores the popover #}

    </div>

    {% include 'resources/Bootstrap.html.twig' %}
    <script src="https://unpkg.com/currency.js@~1.1.0/dist/currency.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/autobahn-js.js" type="text/javascript"></script>
    <script src="/websocket-conn.js" type="text/javascript"></script>
    <script src="/js/Views/Simulation/base.js" type="text/javascript"></script>
    <script src="/js/Models/Simulation/Transaction.js" type="text/javascript"></script>
    <script src="/js/Views/Simulation/SimulationView.js" type="text/javascript"></script>
    <script src="/js/Controllers/Simulation/SimulationController.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="/css/Simulation.css">


{% endblock %}